#aside{
float: right;
margin-right: 5%;
color: antiquewhite;
position: static;

}

#liste{
color: bisque;
}


#body{
background-image: url(../Images/fondchamois.jpg);
}


#boutton{
height: 50px;
width: 140px;



}


#ban{
height: 70px;


}

#img{
height: 20px ;


}

#liens{
text-decoration: none;
color: black;

}

#titretableau{
color: blanchedalmond;
font-weight: bold;
font-size: larger;

}


#h2{
color: blanchedalmond;
font-weight: bold;

}

#lien{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    float: right;
    margin-top: 14px;
    }